/11.05/HolaMundo/target/
/12.05/promedio4notas/target/
/12.05/LeerDatos/target/
/12.05/LeerNotasPromedio/target/
/12.05/IntercambioValores/target/
/12.05/Condicion/target/
/3. Java/11.05/HolaMundo/target/
/3. Java/12.05/Condicion/target/
/3. Java/12.05/IntercambioValores/target/
/3. Java/12.05/LeerDatos/target/
/3. Java/12.05/LeerNotasPromedio/target/
/3. Java/12.05/promedio4notas/target/
/2. Java/11.05/HolaMundo/target/
/2. Java/12.05/Condicion/target/
/2. Java/12.05/IntercambioValores/target/
/2. Java/12.05/LeerDatos/target/
/2. Java/12.05/LeerNotasPromedio/target/
/2. Java/12.05/promedio4notas/target/
/2. Java/11.05 -Dia2Semana3/HolaMundo/target/
/2. Java/12.05-Dia3Semana3/Condicion/target/
/2. Java/12.05-Dia3Semana3/IntercambioValores/target/
/2. Java/12.05-Dia3Semana3/LeerDatos/target/
/2. Java/12.05-Dia3Semana3/LeerNotasPromedio/target/
/2. Java/12.05-Dia3Semana3/promedio4notas/target/
/2. Java/13.05-Dia4Semana3/IfAnidado/target/
/2. Java/13.05-Dia4Semana3/ViajeEstudios/target/
/2. Java/14.05-Dia5Semana3/Multiplos/target/
/2. Java/14.05-Dia5Semana3/Primos/target/
/2. Java/18.05-Dia2Semana4/Mayor/target/
/2. Java/18.05-Dia2Semana4/Actividad/target/
/2. Java/18.05-Dia2Semana4/ValidarHora/target/
/2. Java/19-05-Dia3Semana4/Calculadora/target/
/2. Java/19.05-Dia3Semana4/Calculadora/target/
/2. Java/19.05-Dia3Semana4/Cajero/target/
/2. Java/20,05-Dia4Semana4/NumeroPerfecto/target/
